.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
   
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 2fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;

  width: 900px;
}
.flex-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

img {
  width:100%;
  border-radius: 20px;
}

